
{% extends 'base.html' %}

{% load static %}

{% block content %}
<br>
<br>
<br>
<section class="home-bg">
	<div class="col-sm-4">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<img src="{% static 'images/placeholder.png' %}" alt="" class="img-fluid">
				</div>
				<div class="col-sm">
					<img src="{% static 'images/placeholder.png' %}" alt="" class="img-fluid">
				</div>
				<div class="col-sm">
					<img src="{% static 'images/placeholder.png' %}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>

</section>

{% endblock %}
