
{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="home-bg" style="background-image: url({% static 'images/pets.jpg' %})">
	<div class="row justify-content-md-center">
		<div class="col-sm-2 text-center">

			<img src="{% static 'images/placeholder.png' %}" alt="" class="img-fluid">
			<div class="profile-name text-center">
				Username: {{ request.user.username }}
				<br>
				Name: {{ request.user.first_name }}
				{{ request.user.last_name }}
				<br>
				Email:{{ request.user.email }}
				<br>
				<br>
				Name:
				<br>
				<div class="form-group">
					<input type="text" class="form-control" name="first_name" id="FristName"
					placeholder="first name" value="{{ user.first_name }}">
				</div>
				Last Name:
				<div class="form-group">
					<input type="text" class="form-control" name="last_name"
					placeholder="last name" value="{{ user.last_name }}">
				</div>

				Email:
				<div class="form-group">
					<input type="text" class="form-control" name="last_name"
					placeholder="email" value="{{ user.email }}">
				</div>

				password:
				<div class="form-group">
					<input type="text" class="form-control" name="last_name"
					placeholder="password" value="">
				</div>

				confirm password:
				<div class="form-group">
					<input type="text" class="form-control" name="last_name"
					placeholder="confirm password" value="">
				</div>

				<div class="">
					<button type="submit" class="btn btn-outline-danger">Update</button>
				</div>

			</div>
		</div>
	</div>
</section>

{% endblock %}
