
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- main image-->
<section class="home-bg" style="background-image: url({% static 'images/pets.jpg' %})">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</section>


<section >
    <div >
      <h2>Top Results</h2>
    </div>
</section


  {% endblock %}
