{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- main image-->
<section class="home-bg" style="background-image: url({% static 'images/pets.jpg' %})">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
              <div class=" col-9 mt-2 mt-md-0">
            <form id="pet-form">
                <div class="input-group search-box">

                    <input type="text" id="pet" class="form-control form-control-lg offset-md-4"type="text" name='pet' placeholder="Search for pets" >
                  <div class="input-group-append">


                    <button class="btn btn-dark " type="submit"><i class="fa fa-search" aria-hidden="true" ></i></button>
                </div>
            </form>
            </div>
            <div class=" col-2 mt-2 mt-md-0">
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</section>

<section>
    <div>
      <h2>Top Results</h2>
    </div>
    <div class="grid-container center" id="printApi">
      <div class="grid-item center">
        <img alt=""  alt="" class="img-fluid center">
        <div class="grid-item center"> <ul></ul> </div>
      </div>
    </div>
</section>

<section >
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="{% static 'getApi.js'  %}"></script>
  <script src="{% static 'setApi.js' %}"></script>
</section>


  {% endblock %}
