{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- main image-->
<section class="home-bg" style="background-image: url({% static 'images/pets.jpg' %})">
    <div class="row justify-content-md-center">
        <div class="col-sm-4">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <form id="form">
              <label for="title"> <h3>Your Friend is Waiting:</h3></label>
              <br>

             <div class="form-group"> <!-- bootstrap-->
                 <label for="faf_type">Friend's Type:</label>
                 <br>
                 <select id="pet" class="form-control">
                     <option value="dog">Dog</option>
                     <option value="cat">Cat</option>
                     <option value="rabbit">Rabbit</option>
                     <option value="bird">Bird</option>
                 </select>
                 <br>
                    <label for="faf_breed">Friend's Breed</label>
                    <br>
                    <input type="text" id="breed" class="form-control" placeholder="Optional">
                    <br>
                 <input type="submit" value="Find a Friend" class="btn btn-danger">
             </div>
          </div>

        </form>
    </div>
</section>

<section>
    <div>
      <h2>Top Results</h2>
    </div>
    <div class="grid-container center" id="printApi">
      <div class="grid-item center">
        <img alt=""  alt="" class="img-fluid center">
        <div class="grid-item center"> <ul></ul> </div>
      </div>
    </div>
</section>

<section >
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="{% static 'getApi.js'  %}"></script>
  <script src="{% static 'setApi.js' %}"></script>
</section>


  {% endblock %}
